* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
  }
  
  /******************************/
  /* HERO SECTION */
  
  .section-hero {
    background-color: #fdf2e9;
    padding: 4.8rem 0 9.6rem 0;
  }
  
  .hero {
    max-width: 130rem;
    margin: 0 auto;
    display: grid;
    padding: 0 3.2rem;
    gap: 9.6rem;
    grid-template-columns: 1fr 1fr;
  }
  
  .hero-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
  }
  
  /******************************/
  .heading-primary,
  .heading-secondary {
    font-size: 5.2rem;
    font-weight: 700;
    letter-spacing: -0.5px;
  }
  
  .heading-primary {
    font-size: 5.2rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
  }
  
  .heading-secondary {
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 9.6rem;
  }
  
  
  
  .heading-tertiary{
      font-size: 3rem;
      line-height: 1.2;
      margin-bottom: 3.2rem;
  
  }
  
  
  .subheading {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    color: #cf711f;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    letter-spacing: 0.75px;
  }
  
  .btn:link,
  .btn:visited {
    display: inline-block;
    background-color: #e67e22;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;
    transition: all 1s;
  }
  
  .btn--full:hover,
  .btn--full:active {
    background-color: #cf711f;
  }
  
  .btn--outline:link,
  .btn--outline:visited {
    background-color: #fff;
    color: #555;
  }
  
  .btn--outline:hover,
  .btn--outline:active {
    background-color: #fdf2e9;
    box-shadow: inset 0 0 0 3px #fff;
  }
  
  .hero-img {
    width: 100%;
  }
  
  .margin-right-sm {
    margin-right: 1.6rem !important;
  }
  
  .deliverd-meals {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-top: 8rem;
  }
  
  .deliverd-imgs {
    display: flex;
  }
  
  .deliverd-imgs img {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 3px solid #fdf2e9;
  }
  
  .delivered-imgs img:last-child {
    margin: 0;
  }
  
  .deliverd-text {
    font-size: 1.8rem;
    font-weight: 600;
  }
  
  .deliverd-text span {
    color: #cf711f;
    font-weight: 700;
  }


  .margin-bottom-md{
    margin-bottom: 4.8rem !important;
  }


  .center-text{
    text-align: center;
  }